<style scoped>
    .row{
        margin-top: 10%;
        height: 70vh;
    }
    @media screen and (max-height: 768px){
        .row{
            margin-top: 8%;
        }
    }
    .div-1{
        background-color: white;
        border-top-right-radius: 0.25rem !important;
        border-bottom-right-radius: 0.25rem !important;
    }
    .logo{
        max-width: 30px;
        max-height: 30px;
    }
    .logo-div{
        font-size: 23px;
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
    }
    .neumann-text{
        color: #0091EE;
    }
    .caption{
        color: #9e9e9e;
    }
    .input-email{
        border-top-left-radius: 0.3rem !important;
        border-width: 2px;
        border-bottom-width: thin;
        border-color: rgba(158, 158, 158, 0.3) !important;
        border-top-right-radius: 0.3rem !important;
    }
    .input-password{
        border-bottom-left-radius: 0.3rem !important;
        border-width: 2px;
        border-top-width: thin;
        border-color: rgba(158, 158, 158, 0.3) !important;
        border-bottom-right-radius: 0.3rem !important;
    }
    .form-control:focus{
        box-shadow: none;
    }
    .buttons button{
        font-size: 17px;
    }
    .buttons a{
        font-size: 17px;
    }
    .btn-create{
        color: #0091EE;
    }
    .btn-login{
        color:white;
        background-image: linear-gradient(to right, #00CDDA , #0091EE);
        transition: all 0.4s;
    }
    .btn-login:hover{
        transform: scale(1.05);
    }
    .div-form{
        margin-top: 10%;
    }
    .wrapper input[type="email"] {
        position: relative;
    }
    .img-1{
        margin-top: 30%;
    }
    @media screen and (max-height:768px){
        .img-1{
            margin-top: 15px;
        }
    }
</style>

<template>
    <div class="container">
        <div class="row">
            <div class="col-12 form-row shadow rounded px-0 py-0">
                <div class="col-md-6">
                    <div class="col-12 pt-4 logo-div">
                        <img :src="logo" class="img-fluid logo mr-1" alt=""><strong>Neumann</strong>
                    </div>
                    <div class="col-12">
                        <img :src="image" class="img-fluid img-1" width="" alt="">
                    </div>
                </div>
                <div class="col-md-6 div-1">
                    <div class="col-12 pt-5 text-center">
                        <img :src="logo" class="img-fluid" alt="" width="90px">
                        <h4 class="mt-4">Bienvenido a <strong class="neumann-text">Neumann</strong></h4>
                    </div>
                    <div class="col-12 px-0 div-form">
                        <div class="form-group col-10 mx-auto mb-0">
                            <input v-model="user.email" type="email" name="email" class="form-control form-control-lg rounded-0 input-email" :class="{'is-invalid':is_invalid}" placeholder="Correo electrónico">
                        </div>
                        <div class="form-group col-10 mx-auto">
                            <input v-model="user.password" type="password" name="password" class="form-control form-control-lg rounded-0 input-password" :class="{'is-invalid':is_invalid}" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="col-10 mx-auto form-row px-0">
                            <div class="col-12 text-right mb-3">
                                <button href="#" @click="reset_password" class="btn btn-link text-decoration-none caption">Recuperar Contraseña</button>
                            </div>
                            <div class="col-lg-6 buttons">
                                <button type="submit" @click="submit" class="btn btn-lg btn-block shadow-sm mb-3 btn-login">
                                    <strong v-html="btn_text">
                                        {{ btn_text }}
                                    </strong>
                                </button>
                            </div>
                            <div class="col-lg-6 buttons">
                                <a href="/register" class="btn btn-lg btn-block shadow-sm mb-3 btn-create">
                                    <strong>
                                        Crear cuenta
                                    </strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    const Swal = window.swal = require('sweetalert2');
    const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })
    export default{
        data: () => ({
            logo:"/images/logo-temp.png",
            image:"/images/login.png",
            password_reset:'/password/reset/email',
            btn_text:'Iniciar sesión',
            regex_email:/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/,
            login_url:'/login',
            is_invalid:false,
            user:{
                email:"",
                password:""
            }
        }),
        methods:{
            'submit':function(){
                if(this.user.email == "" && this.user.password == ""){
                    Toast.fire({
                      icon: 'error',
                      title: 'Ingrese la información requerida'
                    })
                }else if (this.user.email != "" && this.user.password == ""){
                    Toast.fire({
                      icon: 'error',
                      title: 'Ingrese su contraseña'
                    })
                }else if (this.user.email == "" && this.user.password != "") {
                    Toast.fire({
                      icon: 'error',
                      title: 'Ingrese su correo electrónico'
                    })
                }else if (this.user.email != "" && this.user.password != ""){
                    if (this.regex_email.test(this.user.email)){
                        this.btn_text = '<i class="fas fa-spinner fa-pulse"></i> Espere..'
                        var data = new Object()
                        data.email = this.user.email
                        data.password = this.user.password

                        axios.post(this.login_url, data)
                            .then(response => {
                                if(response.data.error == 'invalid_user'){
                                    Toast.fire({
                                      icon: 'error',
                                      title: 'Correo electrónico y/o contraseña incorrectos'
                                    })
                                    this.is_invalid = true
                                    this.btn_text = "Iniciar sesión"
                                }else if (response.data.success == 'success') {
                                    location.replace('/home')
                                }
                            })
                            .catch(error => {
                                Toast.fire({
                                  icon: 'error',
                                  title: 'Ha ocurrido un error en la comunicación con el servidor'
                                })
                                this.btn_text = "Iniciar sesión"
                            })
                    }else{
                        Toast.fire({
                          icon: 'error',
                          title: 'El correo electrónico ingresado no es válido'
                        })
                    }
                }
            },


            'reset_password':function(){
                Swal.fire({
                    iconHtml:"",
                    title:"<img src='/images/logo-temp.png' width='35px'>",
                    html:"<h2><strong> Olvidé mi contraseña </strong></h2>Ingrese el correo electónico relacionado a su cuenta, recibirá un correo con un enlace para restablecer su contraseña.",
                    text:"",
                    input:"email",
                    validationMessage: 'El correo electónico no es válido',
                    inputAttributes:{
                        autoCapitalize:'off'
                    },
                    showCancelButton:true,
                    confirmButtonText:"Aceptar",
                    cancelButtonText:"Cancelar",
                    showLoaderOnConfirm: true,
                    preConfirm:(email) => {
                        var data = new Object()
                        data.email = email
                        return axios.post(this.password_reset, data).then(response => {
                            if(!response.data.success){
                                throw new Error(response.success)
                            }
                            return response

                        }).catch(error => {
                            Swal.showValidationMessage(
                                `Error en la conexión con el servidor: ${error}`
                            )
                        })
                    }
                }).then(response => {
                    if(response.value.data.success){
                        Swal.fire({
                            icon:"success",
                            title:"Restablecer contraseña",
                            text:"Se ha enviado un correo electónico con un enlace para restablecer su contraseña."
                        })
                    }
                })
            }
        }
    }
</script>
