<style scoped>
    .row{
        margin-top: 10%;
        height: 70vh;
    }
    @media screen and (max-height: 768px){
        .row{
            margin-top: 8%;
        }
    }
    .div-1{
        background-color: white;
        border-top-right-radius: 0.25rem !important;
        border-bottom-right-radius: 0.25rem !important;
    }
    .logo{
        max-width: 30px;
        max-height: 30px;
    }
    .logo-div{
        font-size: 23px;
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
    }
    .neumann-text{
        color: #0091EE;
    }
    .caption{
        color: #9e9e9e;
    }
    .input-email{
        border-top-left-radius: 0.3rem !important;
        border-width: 2px;
        border-bottom-width: thin;
        border-color: rgba(158, 158, 158, 0.3) !important;
        border-top-right-radius: 0.3rem !important;
    }
    .input-password{
        border-bottom-left-radius: 0.3rem !important;
        border-width: 2px;
        border-top-width: thin;
        border-color: rgba(158, 158, 158, 0.3) !important;
        border-bottom-right-radius: 0.3rem !important;
    }
    .form-control:focus{
        box-shadow: none;
    }
    .buttons button{
        font-size: 17px;
    }
    .buttons a{
        font-size: 17px;
    }
    .btn-create{
        color: #0091EE;
    }
    .btn-login{
        color:white;
        background-image: linear-gradient(to right, #00CDDA , #0091EE);
        transition: all 0.4s;
    }
    .btn-login:hover{
        transform: scale(1.05);
    }
    .div-form{
        margin-top: 10%;
    }
    .wrapper input[type="email"] {
        position: relative;
    }
    .img-1{
        margin-top: 30%;
    }
    @media screen and (max-height:768px){
        .img-1{
            margin-top: 15px;
        }
    }
</style>
<template>
    <div class="container">
        <div class="row">
            <div class="col-12 form-row shadow rounded px-0 py-0">
                <div class="col-md-4">
                    <div class="col-12 pt-4 logo-div">
                        <img :src="logo" class="img-fluid logo mr-1" alt=""><strong>Neumann</strong>
                    </div>
                    <div class="col-12">
                        <img :src="image" class="img-fluid img-1" width="" alt="">
                    </div>
                </div>
                <div class="col-md-8 div-1">
                    <div class="col-12 pt-5 text-center">
                        <img :src="logo" class="img-fluid" alt="" width="90px">
                        <h4 class="mt-4">Restablecer <strong class="neumann-text">Contraseña</strong></h4>
                    </div>
                    <div class="col-12 px-0 div-form">
                        <div class="form-group col-10 mx-auto mb-3">
                            <input v-model="user.email" type="email" name="email" class="form-control" :class="{'is-invalid':email_invalid}" placeholder="Correo electrónico">
                        </div>
                        <div class="form-group col-10 mx-auto mb-3">
                            <input v-model="user.password" type="password" name="password" class="form-control" placeholder="Nueva contraseña (8 caracteres mínimo)">
                        </div>
                        <div class="form-group col-10 mx-auto mb-3">
                            <input v-model="user.password_confirmation" type="password" name="password_confirmation" class="form-control" placeholder="Confirmar nueva contraseña">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="col-10 mx-auto form-row px-0">
                            <div class="col-lg-6 buttons">
                                <button type="submit" @click="submit" class="btn btn-lg btn-block shadow-sm mb-3 btn-login">
                                    <strong v-html="btn_text">
                                        {{ btn_text }}
                                    </strong>
                                </button>
                            </div>
                            <div class="col-lg-6 buttons">
                                <a :href="login_url" class="btn btn-lg btn-block shadow-sm mb-3 btn-create">
                                    <strong>
                                        Cancelar
                                    </strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    const Swal = window.swal = require('sweetalert2');
    var iziToast = require('izitoast')
    const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    export default{
        props:[
            'token'
        ],
        data: () => ({
            logo:"/images/logo-temp.png",
            image:"/images/login.png",
            btn_text:'Restablecer contraseña',
            regex_email:/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/,
            login_url:'/login',
            post_url:'/password/reset/update',
            is_invalid:false,
            email_invalid:false,
            user:{
                email:"",
                password:"",
                password_confirmation:""
            }
        }),
        methods:{
            'submit' : function(){
                var status = true
                for(let prop in this.user){
                    if(this.user[prop] == ""){
                        Toast.fire({
                            icon: 'error',
                            title: 'Ingrese la información requerida'
                        })
                        status = false
                        break
                    }

                    if(prop == "email" && !this.regex_email.test(this.user['email'])){
                        Toast.fire({
                            icon: 'error',
                            title: 'El correo electrónico ingresado no es válido'
                        })
                        status = false
                        break
                    }

                    if(prop == "password" && this.user[prop].length < 8){
                        Toast.fire({
                            icon: 'error',
                            title: 'La contraseña debe tener almenos 8 caracteres'
                        })
                        status = false
                        break
                    }

                    if(this.user['password'] != this.user['password_confirmation']){
                        Toast.fire({
                            icon: 'error',
                            title: 'La contraseña y la confirmación de contraseña no coinciden'
                        })
                        status = false
                        break
                    }
                }

                if(status){
                    this.btn_text = '<i class="fas fa-spinner fa-pulse"></i> Espere..'
                    var data = new Object()
                    data.email = this.user.email
                    data.password = this.user.password
                    data.token = this.token

                    axios.post(this.post_url, data).then(response => {
                        if(response.data.success){
                            location.replace('/home');
                        }else if(response.data.errors){
                            this.btn_text = 'Restablecer contraseña'
                            for(let prop in response.data.errors){
                                for (var i = 0; i < response.data.errors[prop].length; i++) {
                                    if(prop == "email"){
                                        this.email_invalid = true
                                    }
                                    iziToast.error({
                                        title: 'Error',
                                        message: response.data.errors[prop][i],
                                        position:'topRight',
                                        class:'toast-margin'
                                    });
                                }
                            }
                        }
                    }).catch(error => {

                    })
                }
            }
        }
    }
</script>
