<style scoped>
    .row{
        margin-top: 10%;
        height: 70vh;
    }
    @media screen and (max-height: 768px){
        .row{
            margin-top: 8%;
        }
    }
    .div-1{
        background-color: white;
        border-top-right-radius: 0.25rem !important;
        border-bottom-right-radius: 0.25rem !important;
    }
    .logo{
        max-width: 30px;
        max-height: 30px;
    }
    .logo-div{
        font-size: 23px;
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
    }
    .neumann-text{
        color: #0091EE;
    }
    .caption{
        color: #9e9e9e;
    }
    .input-email{
        border-top-left-radius: 0.3rem !important;
        border-width: 2px;
        border-bottom-width: thin;
        border-color: rgba(158, 158, 158, 0.3) !important;
        border-top-right-radius: 0.3rem !important;
    }
    .input-password{
        border-bottom-left-radius: 0.3rem !important;
        border-width: 2px;
        border-top-width: thin;
        border-color: rgba(158, 158, 158, 0.3) !important;
        border-bottom-right-radius: 0.3rem !important;
    }
    .form-control:focus{
        box-shadow: none;
    }
    .buttons button{
        font-size: 17px;
    }
    .buttons a{
        font-size: 17px;
    }
    .btn-create{
        color: #0091EE;
    }
    .btn-login{
        color:white;
        background-image: linear-gradient(to right, #00CDDA , #0091EE);
        transition: all 0.4s;
    }
    .btn-login:hover{
        transform: scale(1.05);
    }
    .div-form{
        margin-top: 5%;
    }
    .wrapper input[type="email"] {
        position: relative;
    }
    .img-1{
        margin-top: 30%;
    }
    @media screen and (max-height:768px){
        .img-1{
            margin-top: 15px;
        }
    }
    .form-control{
        border-width: 2px;
        border-top-width: thin;
        border-color: rgba(158, 158, 158, 0.3) !important;
    }
    .question-icon{
        color: #0091EE;
        cursor: pointer;
    }
</style>

<template>
    <div class="container">
        <div class="row">
            <div class="col-12 form-row shadow rounded px-0 py-0">
                <div class="col-md-4">
                    <div class="col-12 pt-4 logo-div">
                        <img :src="logo" class="img-fluid logo mr-1" alt=""><strong>Neumann</strong>
                    </div>
                    <div class="col-12">
                        <img :src="image" class="img-fluid img-1" width="" alt="">
                    </div>
                </div>
                <div class="col-md-8 div-1">
                    <div class="col-12 pt-5 text-center">
                        <img :src="logo" class="img-fluid" alt="" width="90px">
                        <h4 class="mt-4">Bienvenido a <strong class="neumann-text">Neumann</strong></h4>
                    </div>
                    <div class="col-12 px-0 div-form form-row">
                        <div class="form-group col-5 ml-auto mb-1">
                            <input v-model="user_data.names" type="text" name="names" class="form-control" placeholder="Nombre(s)">
                        </div>
                        <div class="form-group col-5 mr-auto mb-1">
                            <input v-model="user_data.paternal_surname" type="text" name="paternal_surname" class="form-control" placeholder="Apellido paterno">
                        </div>
                        <div class="form-group col-5 ml-auto mb-1">
                            <input v-model="user_data.maternal_surname" type="text" name="maternal_surname" class="form-control" placeholder="Apellido materno">
                        </div>
                        <div class="form-group col-5 mr-auto mb-1">
                            <input v-model="user_data.name" type="text" name="name" class="form-control" placeholder="Nombre de usuario">
                        </div>
                        <div class="form-group col-10 mx-auto mb-1">
                            <input v-model="user_data.email" type="email" name="email" class="form-control" :class="{ 'is-invalid':invalid_email }" placeholder="Correo electrónico">
                        </div>
                        <div class="form-group col-5 ml-auto mb-1">
                            <input v-model="user_data.password" type="password" name="password" class="form-control" :class="{ 'is-invalid':invalid_password }" placeholder="Contraseña">
                        </div>
                        <div class="form-group col-5 mr-auto mb-1">
                            <input v-model="user_data.password_confirmation" type="password" name="password_confirmation" class="form-control" :class="{ 'is-invalid':invalid_password }" placeholder="Confirmar contraseña">
                        </div>
                        <div class="form-group col-5 ml-auto mb-1">
                            <div class="form-inline">
                                <input v-model="user_data.campus_code" type="text" name="campus_code" class="form-control col-10" placeholder="Código de plantel">
                                <div class="col-2">
                                    <i class="fad fa-question question-icon" data-toggle="tooltip" data-placement="top" data-title="Solicita a la institución el código de acceso a el plantel"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-5 mr-auto mb-1">
                            <select v-model="user_data.role" class="form-control" name="role">
                                <option value="" disabled selected>Tipo de usuario</option>
                                <option value="Alumno">Alumno/a</option>
                                <option value="Docente">Docente</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="col-10 mx-auto form-row px-0 mt-3">
                            <div class="col-lg-6 buttons">
                                <button type="submit" @click="submit" class="btn btn-lg btn-block shadow-sm mb-3 btn-login" name="button">
                                    <strong v-html="btn_text">
                                        {{ btn_text }}
                                    </strong>
                                </button>
                            </div>
                            <div class="col-lg-6 buttons">
                                <a href="/login" class="btn btn-lg btn-block shadow-sm mb-3 btn-create" name="button">
                                    <strong>
                                        Iniciar sesión
                                    </strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    const Swal = window.swal = require('sweetalert2');
    var iziToast = require('izitoast')
    const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    export default{
        data:() => ({
            logo:"/images/logo-temp.png",
            image:"/images/login.png",
            btn_text:'Registrarse',
            regex_email:/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/,
            campus_url:"/campuses/validate_campus",
            user_store:"/users/guest/store",
            invalid_email:false,
            invalid_password:false,
            user_data:{
                names:"",
                paternal_surname:"",
                maternal_surname:"",
                name:"",
                email:"",
                password:"",
                password_confirmation:"",
                campus_code:"",
                role:""
            }
        }),
        mounted(){
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
        },
        methods:{
            'submit':function(){

                var status = true

                for(let prop in this.user_data){
                    if(this.user_data[prop] === ""){
                        Toast.fire({
                          icon: 'error',
                          title: 'Ingrese la información requerida'
                        })
                        status = false
                        break
                    }else if (prop == "email"){
                        if(!this.regex_email.test(this.user_data[prop])){
                            this.invalid_email = true
                            Toast.fire({
                              icon: 'error',
                              title: 'El correo electrónico ingresado no es válido'
                            })
                            status = false
                            break
                        }
                    }else if (prop == "password"){
                        if(this.user_data[prop].length < 8){
                            this.invalid_password = true
                            Toast.fire({
                              icon: 'error',
                              title: 'La contraseña debe tener almenos 8 caracteres'
                            })
                            status = false
                            break
                        }
                        if(this.user_data[prop] !== this.user_data['password_confirmation']){
                            this.invalid_password = true
                            Toast.fire({
                              icon: 'error',
                              title: 'La confirmación de contraseña no coincide'
                            })
                            status = false
                            break
                        }
                    }
                }

                if(status){
                    this.invalid_email = false
                    this.invalid_password = false
                    var correct_campus = false

                    var data = new Object()
                    data.campus_code = this.user_data.campus_code

                    axios.post(this.campus_url, data)
                    .then(response => {
                        if(response.data.success){
                            this.btn_text = '<i class="fas fa-spinner fa-pulse"></i> Espere..'

                            var user_datas = new Object()
                            user_datas.user = this.user_data

                            axios.post(this.user_store, user_datas)
                            .then(response => {
                                if(response.data.success){
                                    location.replace('/home')
                                }else if (response.data.errors) {
                                    this.btn_text = 'Registrarse'
                                    for(let prop in response.data.errors){
                                        for (var i = 0; i < response.data.errors[prop].length; i++) {
                                            if(prop == "user.email"){
                                                this.invalid_email = true
                                            }
                                            iziToast.error({
                                                title: 'Error',
                                                message: response.data.errors[prop][i],
                                                position:'topRight',
                                                class:'toast-margin'
                                            });
                                        }
                                    }
                                }
                            })


                        }else if (!response.data.success) {
                            Toast.fire({
                              icon: 'error',
                              title: 'El codigo del plantel es incorrecto'
                            })
                        }
                    })
                }


            }
        }
    }
</script>
