<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 mx-0 bg-white py-4 rounded-lg shadow">
                <div class="col-12 text-center mt-5">
                    <img :src="img" class="img-fluid" width="55%" alt="">
                </div>
                <div class="col-10 mx-auto text-center alert alert-info shadow">
                    <div :hidden="hidden">
                        <h1> <strong> Antes de continuar... </strong></h1>
                        <h6> <strong> Revisa tu buzón de correo electrónico y has clic en el enlace para continuar. </strong> </h6>
                        <h6> <strong>¿No has recibido ningún correo? has clic  <a class="text-decoration-none" @click="email" href="#">aquí</a> para solicitar uno nuevo.</strong> </h6>
                    </div>
                    <div class="py-4" :hidden="!hidden">
                        <h4><strong><i class="fad fa-spinner fa-pulse fa-lg"></i> Enviando...</strong> </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    var iziToast = require('izitoast')

    export default{
        data: () => ({
            img:"/images/email1.png",
            hidden:false,
            resend_url:"/email/resend_email",
        }),
        methods:{
            'email':function(){
                this.hidden = true
                axios.get(this.resend_url).then(response => {
                    if(response.data.success){
                        this.hidden = false
                        iziToast.success({
                            title: 'OK',
                            message: 'Se ha enviado un nuevo correo de verificación',
                            position:'topRight',
                        });
                    }else{
                        this.hidden = false
                        iziToast.error({
                            title: 'Error',
                            message: 'Ha ocurrido un error al enviar el correo, contacte al Administrador',
                            position:'topRight',
                            class:'toast-margin'
                        });
                    }

                }).catch(error => {
                    this.hidden = false
                    iziToast.error({
                        title: 'Error',
                        message: 'Ha ocurrido un error al enviar el correo, contacte al Administrador',
                        position:'topRight',
                        class:'toast-margin'
                    });
                })
            }
        }
    }
</script>
