.text-title{
    color: #5DB1FB;
}
.cancel-button{
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}
.submit-button{
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
}
hr{
    background-color:#5DB1FB;
}
@media(min-width:768px){
    .div-0{
        padding-left: 40px;
        padding-right: 40px;
    }
}
