.text-title{
    color: #5DB1FB;
}
.rounded-input{
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
    border-color: #28A745;
    border-width: 1.5px;
    border-right: none;
}
.rounded-button{
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;        
}
.input-group-append .btn{
    z-index: auto !important;
}
.form-1:focus{
    border-color:  #28A745;
    box-shadow: 0 0 0 0.2rem #84e19a;
}
.btn-pdf:active{
    color: black;
    background: white !important;
}
.rotateUp {
    animation: 0.7s rotate;
    transform: rotate(180deg);
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-180deg);
    }
}

.rotateDown{
    animation: 0.7s rotateDown;
    transform: rotate(0deg);
}
@keyframes rotateDown {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}
@media(min-width:992px){
    .show-left{
        position: -webkit-sticky;
        position: sticky;
        top: 85px;
        z-index: 1020;
    }
}
