<style scoped>
    /*NAVBAR STYLES*/
    .navbar{
        background-color: white !important;
        min-height: 30px !important;
        margin-bottom: 20px;
        margin-left: 100px;
    }
    .dropdown-navbar{
        border-style: none;
        border-radius: 10px;
    }
    .img-user{
        width: 27px;
        height: 27px;
    }
    .menu-active{
        background-color: #3B7FDF;
        color:white !important;
        border-radius: 5px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    @media(min-width: 992px){
        .dropdown-notifications{
            min-width: 230px;
        }
        .navbar{
            border-radius: 50rem !important;
            margin-right: 20px;
            margin-top: 15px;
        }
        .li-user{
            margin-left: 5px;
            border-left-style: solid;
            border-left-width: thin;
            border-left-color: rgba(59, 127, 223, 0.1);
        }
    }
    /*END NAVBAR STYLES*/

    /*SIDENAV STYLES*/

    .sidenav {
        height: 100%;
        width: 100px;
        position: fixed !important;
        z-index: 997;
        top: 0;
        left: 0;
        background-color: #E7E8F1;
        overflow-x: hidden !important;
        transition: 0.5s;
    }
    .row-sidenav{
        padding-top: 20px;
    }
    .icons{
        color:#8C8CAD;
    }
    /*END SIDENAV STYLES*/
</style>
<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">{{ title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="notifications" role="button" data-toggle="dropdown" aria-haspopup="true" aria-xpanded="false">
                            <span class="badge badge-info mr-1">1</span><i class="fad fa-bell fa-lg"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow rounded dropdown-navbar" aria-labelledby="notifications">
                            <a href="#" class="dropdown-item">Notificación</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown li-user">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-xpanded="false">
                            {{ user.name }}
                            <img :src="user.image" class="img-fluid img-user ml-1" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow rounded dropdown-navbar" aria-labelledby="userDropdown">
                            <a href="#" role="button" @click="logout" class="dropdown-item" data-toggle="modal" data-target="#logout">
                                <i class="fad fa-sign-out-alt"></i>
                                Cerrar sesión
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="sidenav">
            <div class="container-fluid">
                <div class="row row-sidenav">
                    <div class="col-12 text-center">
                        <button class="btn btn-link mx-auto mb-5" type="button" name="button">
                            <i class="fad fa-bars icons fa-2x"></i>
                        </button>
                    </div>
                    <div v-for="(menu, index) in menus" :key="index" class="col-12 w-100 text-center mb-3">
                        <a :href="menu.url" class="btn btn-link px-0 mx-0 my-0 text-decoration-none w-75 py-2" :class="{ 'menu-active':menu.active }">
                            <i class="fad fa-building fa-2x" :class="[menu.icon, {'icons':!menu.active}]"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>


        <!-- <div class="modal fade" id="logout" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Atención</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Realmente desea cerrar sesión</p>
                    </div>
                    <div class="modal-footer">
                        <form action="/logout" method="post">
                            <input type="hidden" name="_token" v-bind:value="csrf">
                            <button type="submit" class="btn btn-success" name="button">
                                Cerrar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->

    </div>

</template>
<script>
    const Swal = window.swal = require('sweetalert2');
    export default{
        props:['csrf'],
        data: () => ({
            user_url : '/users/getUser',
            title:"",
            user:{
                name:"Administrador",
                roles:[],
                image:"/images/user.png"
            },
            menus:[
                {
                    url:'/home',
                    icon:'fa-home-lg-alt',
                    title:'Home',
                    active:false,
                    visible:true
                },
                {
                    url:'/campuses',
                    title:'Planteles',
                    icon:'fa-building',
                    active:false,
                    visible:true
                },
                {
                    url:'/degrees',
                    icon:'fa-graduation-cap',
                    title:'Carreras',
                    active:false,
                    visible:true
                },
                {
                    url:'/library',
                    title:'Biblioteca',
                    icon:'fa-books',
                    active:false,
                    visble:true
                }
            ]
        }),

        mounted(){
            axios.get(this.user_url)
                .then(response => {
                    this.user.name = response.data.user.name
                    this.user.image = "/images/"+response.data.user.image
                    this.user.roles = response.data.user.roles
                })
                .catch(error => {
                    console.log(error)
                })

            var pathname = location.pathname
            for (var i = 0; i < this.menus.length; i++) {
                if(pathname.includes(this.menus[i].url)){
                    this.menus[i].active = true
                    this.title = this.menus[i].title
                    break
                }
            }
        },
        methods:{
            'logout':function(){
                Swal.fire({
                  title: 'Atención',
                  text: "¿Realmente desea cerrar sesión?",
                  icon: 'question',
                  showCancelButton: true,
                  confirmButtonColor: '#3B7FDF',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Cerrar sesión',
                  cancelButtonText: "Cancelar",
                }).then((result) => {
                  if (result.value) {
                    axios.post("/logout").then(response => {
                        location.reload()
                    })
                  }
                })
            }
        }
    }
</script>
<style>

</style>
