<style scoped>
    .icon{
        color: #44D16A;
        /* 00B0FF */
        cursor: pointer;
    }
</style>
<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="text-header">
                    <strong>Nueva Carrera</strong>
                </h3>
            </div>
            <div class="col-11 form-row mx-auto shadow-sm rounded-lg bg-white py-4">
                <div class="form-group col-lg-4">
                    <label for="#name">Nombre de la carrera</label>
                    <input type="text" v-model="degree.name" id="name" class="form-control" name="name" required placeholder="nombre de la carrera">
                </div>
                <div class="form-group col-lg-4">
                    <i class="fad fa-question ml-2 icon" data-toggle="tooltip" data-placement="right" data-title="Reconocimiento de Validez Oficial de Estudios"></i>
                    <label for="#rvoe">RVOE</label>
                    <input v-model="degree.RVOE" type="text" name="RVOE" class="form-control" required placeholder="introduce el RVOE de la carrera">
                </div>
                <div class="form-group col-lg-4">
                    <label for="#semesters">Semestres</label>
                    <input v-model="degree.semesters" type="number" name="semesters" class="form-control" required placeholder="duracion de la carrera(semestres)">
                </div>
                <div class="form-group col-lg-5">
                    <label for="#description">Descripción</label>
                    <input v-model="degree.description" type="textarea" name="description" class="form-control" placeholder="breve descripcion de la carrera"> 
                </div>
                <div class="form-group col-lg-4">
                    <label for="#dicipline">Diciplina</label>
                    <select v-model="degree.dicipline" name="dicipline" class="form-control" required>
                        <option value="" disabled selected>Seleccione una diciplina</option>
                        <option v-for="(diciplina, index) in diciplinas" :key="index" :value="diciplina.value">{{ diciplina.value }}</option>
                    </select>
                </div>
            </div>
            <div class="col-11 mx-auto text-right py-3 px-0">
                <a href="/degrees" class="btn btn-link text-decoration-none">
                    <strong>
                        Cancelar
                    </strong>
                </a>
                <button type="button" class="btn btn-submit px-5" name="button" @click="submit">
                    <strong v-html="btn_message">
                        {{ btn_message }}
                    </strong>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
    var uniqid = require('uniqid')
    var iziToast = require('izitoast')

    export default{
        data: () => ({
            btn_message:"Registrar",
            store_url:"/degrees/store",
            degree:{
                name:"",
                RVOE:"",
                semesters:"",
                description:"",
                dicipline:"",
            },
            diciplinas:[
                { value:"agricultura y silvicultura" },
                { value:"ciencias aplicadas y profesiones" },
                { value:"Artes, diseños y arquitectura" },
                { value:"negocios y Administración" },
                { value:"informática y TI" },
                { value:"Educación y entrenamiento" },
                { value:"ingenieria y tecnología" },
                { value:"Estudios ambientales y ciencias de la tierra" },
                { value:"Hospitalidad, ocio y deporte" },
                { value:"humanidades" },
                { value:"periodismo y medios" },
                { value:"Leyes" },
                { value:"medicina y salud" },
                { value:"ciencias naturales y matematicas" },
                { value:"ciencias sociales" },
            ]
        }),
        mounted(){
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            // axios.get('/degrees/create').then(response => { this.degree = response.data })
        },
        methods:{
            'submit':function(){

                var status = true

                for(let carrera in this.degree){
                    if(this.degree[carrera] == ""){
                        console.log(carrera)
                        iziToast.error({
                        title: 'Error',
                        message: 'Complete toda la información requerida',
                        position:'topRight',
                        class:'toast-margin'
                        });
                        status = false
                        break
                    }
                }
                if(status){
                    this.btn_message='<i class="fad fa-spinner fa-pulse"></i> Espere...'
                    var data = new Object()
                    data.degree = this.degree
                    axios.post(this.store_url, data)
                        .then(response => {
                            if(response.data.errors){
                                this.btn_message = "Registrar"
                                for(let carrera in response.data.errors){
                                    for (var i = 0; i < response.data.errors[carrera].length; i++) {
                                        iziToast.error({
                                        title: 'Error',
                                        message: response.data.errors[carrera][i],
                                        position:'topRight',
                                        class:'toast-margin'
                                        });
                                    }
                                }
                            }
                            else if (response.data.success){
                                iziToast.success({
                                title: 'OK',
                                message: 'Carrera registrada correctamente',
                                position:'topRight',
                                onClosing: function(instance, toast, closedBy){
                                location.replace('/degrees')
                            },
                        });
                    }
                });
            }
        }
    }
}
</script>
