<style scoped>
    .icon1{
        color: #41B883;
    }
    .icon2{
        color: #35495E;
    }
    .icon3{
        color: #000000;
    }
    .icon4{
        color: #00A3D7;
    }
    .loading-text{
        color: #3490dc;
    }
</style>
<template>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12">
                <div class="col-md-4 float-right">
                    <div class="col-12">
                        <h5 class="actions-text">
                            Acciones
                        </h5>
                    </div>
                    <div class="col-12 form-row px-0">
                        <div v-for="(action, index) in actions" :key="index" class="col-lg-5 col-sm-5 mx-auto mb-3 text-center py-2 rounded-lg bg-white shadow-sm">
                            <a :href="action.url" class="btn btn-link text-decoration-none">
                                <i class="fad fa-2x" :class="[ action.icon, action.color ]"></i>
                                <h5 class="mt-2">
                                    <strong>
                                        {{ action.text }}
                                    </strong>
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 float-left bg-white rounded-lg py-3 shadow-sm">
                    <div class="col-12 px-0 my-3">
                        <h4>
                            <strong>
                                Registros de Carreras
                            </strong>
                        </h4>
                    </div>
                    <div class="form-group">
                        <input type="text" name="search" class="form-control shadow-sm" placeholder="Buscar...">
                    </div>
                    <div class="col-12 text-center py-5" :hidden="loading_div">
                        <h4 class="loading-text">
                            <strong>
                                <i class="fad fa-spinner fa-pulse"></i>
                                Cargando...
                            </strong>
                        </h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-borderless" :hidden="!loading_div">
                            <thead>
                                <tr>
                                    <th v-for="(header, index) in headers" :key="index">{{ header }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(degrees, index) in data"  :key="index">
                                    <td class="align-middle text-truncate">{{ degrees.RVOE }}</td>
                                    <td class="align-middle text-truncate">{{ degrees.name }}</td>
                                    <td class="align-middle text-truncate">{{ degrees.semesters }}</td>
                                    <td v-if="degrees.status" class="text-success align-middle text-truncate">Activo</td>
                                    <td v-else class="text-danger align-middle text-truncate">Inactivo</td>
                                    <td class="align-middle text-truncate">
                                        <a href="#" class="btn btn-link icon1" data-toggle="tooltip" data-placement="left" data-title="información">
                                            <i class="fad fa-info-square fa-lg"></i>
                                        </a>
                                        <a href="#" class="btn btn-link icon2" data-toggle="tooltip" data-placement="top" data-title="Editar">
                                            <i class="fad fa-file-edit fa-lg"></i>
                                        </a>

                                        <button type="button" class="btn btn-link icon3" data-toggle="tooltip" data-placement="right" data-title="Eliminar">
                                            <i class="fad fa-times-square fa-lg"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    const Swal = window.swal = require('sweetalert2');
    const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })
    export default{
        data: () => ({
            headers:[
                "RVOE",
                "Nombre",
                "Semestres",
                "Estatus",
                "Acciones"
            ],
            actions:[
                {
                    url:"/degrees/create",
                    icon:"fa-plus-circle",
                    text:"Nuevo registro",
                    color:"icon1"
                },
                {
                    url:"",
                    icon:"fa-file-pdf",
                    text:"Exportar",
                    color:"icon2"
                },
                {
                    url:"",
                    icon:"fa-file-csv",
                    text:"Importar",
                    color:"icon3"
                },
                {
                    url:"",
                    icon:"fa-share-alt-square",
                    text:"Compartir",
                    color:"icon4"
                }
            ],
            loading_div:false,
            data_url:"/degrees",
            data:[],
        }),

        mounted(){

            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })

            axios.get(this.data_url)
                .then(response => {
                    if(response.data.success){
                        console.log(response.data)
                        this.data = response.data.data
                        this.loading_div = true
                    }else{
                        this.loading_div = true
                        Toast.fire({
                          icon: 'error',
                          title: 'Error en la comunicación con el servidor'
                        })
                    }
                })
        }
    }
</script>
