<style scoped>
    .icon{
        color: #3B7FDF;
        cursor: pointer;
    }
</style>
<template>
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="col-12">
                    <h3 class="text-header">
                        <strong>Nuevo plantel</strong>
                    </h3>
                </div>
                <div class="col-11 form-row mx-auto shadow-sm rounded-lg bg-white py-4">
                    <div class="form-group col-lg-4">
                        <i class="fad fa-question ml-2 icon" data-toggle="tooltip" data-placement="right" data-title="Código necesario para registro de alumnos"></i>
                        <label for="#code">Código único</label>
                        <div class="form-inline">
                            <input v-model="campus.unique_id" type="text" id="code" class="form-control col-10" name="code" required placeholder="Código único">
                            <div class="col-2 text-center">
                                <button type="button" class="btn btn-link" name="button" @click="unique_code">
                                    <i class="fad fa-cogs fa-lg icon" data-toggle="tooltip" data-placement="right" data-title="Generar Código"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="#name">Nombre</label>
                        <input v-model="campus.name" type="text" class="form-control" name="name" required placeholder="Nombre">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="#street">Calle</label>
                        <input v-model="campus.street" type="text" name="street" class="form-control" required placeholder="Calle">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="#colony">Colonia</label>
                        <input v-model="campus.colony" type="text" name="colony" class="form-control" placeholder="Colonia">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="state">Estado</label>
                        <select v-model="campus.state" class="form-control" name="state" @change="update_municipalities" required>
                            <option value="" disabled selected>Seleccione un estado</option>
                            <option v-for="(state, index) in states" :key="index" :value="state.nombre">{{ state.nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="municipality">Municipio</label>
                        <select v-model="campus.municipality" class="form-control" name="municipality" required>
                            <option value="" selected disabled>Seleccione un municipio</option>
                            <option v-for="(municipality,index) in municipalities_by_state" :key="index" :value="municipality">{{ municipality }}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="external_number">Número exterior</label>
                        <input v-model="campus.external_number" type="number" min="0" class="form-control" name="external_number" placeholder="Número exterior" required>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="internal_number">Número interior</label>
                        <input v-model="campus.internal_number" type="text" class="form-control" name="internal_number" placeholder="Número interior" >
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="zipcode">Código postal</label>
                        <input v-model="campus.zipcode"  type="number" min="0" class="form-control" name="zipcode" placeholder="Código postal" required>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="level">Nivel</label>
                        <select v-model="campus.level" class="form-control" name="level" required>
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option value="Preparatoría">Preparatoría</option>
                            <option value="Licenciatura">Licenciatura</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="shift">Turno</label>
                        <select v-model="campus.shift" class="form-control" name="shift" required>
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option value="Matutino">Matutino</option>
                            <option value="Vespertino">Vespertino</option>
                            <option value="Discontinuo">Discontinuo</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="type">Tipo</label>
                        <select v-model="campus.type" class="form-control" name="type" required>
                            <option value="" selected disabled>Seleccione una opción</option>
                            <option value="Plantel">Plantel</option>
                            <option value="CAE">CAE</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="user_id">Administrador</label>
                        <select v-model="campus.user_id" class="form-control" name="user_id" required>
                            <option value="" selected disabled>Seleccione una opción</option>
                            <option v-for="(user, index) in users" :key="index" :value="user.id">{{ user.names }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-11 mx-auto text-right py-3 px-0">
                    <a href="/campuses" class="btn btn-link text-decoration-none">
                        <strong>
                            Cancelar
                        </strong>
                    </a>
                    <button type="button" class="btn btn-submit px-5" name="button" @click="submit">
                        <strong v-html="btn_message">
                            {{ btn_message }}
                        </strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import states from '../../assets/states.json'
    import municipalities from '../../assets/municipalities'
    var uniqid = require('uniqid')
    var iziToast = require('izitoast')

    export default{
        data: () => ({
            states:states,
            municipalities:municipalities,
            municipalities_by_state:[],
            btn_message:"Registrar",
            store_url:"/campuses/store",
            users:[],
            campus:{
                unique_id:"",
                name:"",
                street:"",
                colony:"",
                state:"",
                municipality:"",
                external_number:"",
                internal_number:"",
                zipcode:"",
                user_id:"",
                level:"",
                shift:"",
                type:""
            }
        }),
        mounted(){
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })

            axios.get('/campuses/create').then(response => { this.users = response.data })
        },
        methods:{
            'unique_code':function(){
                this.campus.unique_id = uniqid()
            },
            'update_municipalities':function(event){
                for(let prop in this.municipalities){
                    if(prop == event.target.value){
                        this.municipalities_by_state = this.municipalities[prop]
                        break
                    }
                }
            },
            'submit':function(){

                var status = true

                for(let prop in this.campus){
                    if(prop == 'colony' || prop == 'internal_number'){
                        continue
                    }else{
                        if(this.campus[prop] == ""){
                            iziToast.error({
                                title: 'Error',
                                message: 'Complete toda la información requerida',
                                position:'topRight',
                                class:'toast-margin'
                            });
                            status = false
                            break
                        }else if (prop == 'zipcode' && this.campus[prop].length != 5){
                            iziToast.error({
                                title: 'Error',
                                message: 'El código postal debe contener 5 digitos',
                                position:'topRight',
                                class:'toast-margin'
                            });
                            status = false
                            break
                        }
                    }
                }

                if(status){
                    this.btn_message='<i class="fad fa-spinner fa-pulse"></i> Espere...'
                    var data = new Object()
                    data.campus = this.campus
                    axios.post(this.store_url, data)
                        .then(response => {
                            if(response.data.errors){
                                this.btn_message = "Registrar"
                                for(let prop in response.data.errors){
                                    for (var i = 0; i < response.data.errors[prop].length; i++) {
                                        iziToast.error({
                                            title: 'Error',
                                            message: response.data.errors[prop][i],
                                            position:'topRight',
                                            class:'toast-margin'
                                        });
                                    }
                                }
                            }else if (response.data.success){
                                iziToast.success({
                                    title: 'OK',
                                    message: 'Campus registrado correctamente',
                                    position:'topRight',
                                    onClosing: function(instance, toast, closedBy){
                                       location.replace('/campuses')
                                   },
                                });
                            }
                        })
                }
            }
        }
    }
</script>
